.demo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid 1px var(--r-link-color);
  height: 80%;
  padding-bottom: 2rem;
}

.load-balancer,
.server {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px var(--r-main-color);
  font-size: 14px;
  padding: 12px;
}

.request-ball {
  position: fixed;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: all 0.5s;
}

.servers {
  display: flex;
  gap: 2rem;
}

.stats {
  font-size: 1rem;
}

.preview {
  display: flex;
  gap: 2rem;
}

.preview > img {
  flex: 1;
  max-height: 36vh;
  object-fit: contain;
}
